<div class="container">
  <div class="row">
    <div class="fact col-md-offset-3 col-md-6">
      <h1>Fact!</h1>
      <p class="fact-text"><%= fact %></p>
      <p><a class="btn btn-primary btn-sm" href="javascript:window.location.href=window.location.href" role="button">Learn more</a></p>
    </div>
  </div>
</div>

<footer>
  <small>&copy; Huw 2015</small>
</footer>
