<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1>Fact!</h1>
        <p><%= fact %></p>
        <p><a class="btn btn-primary btn-lg" href="javascript:window.location.href=window.location.href" role="button">Learn more</a></p>
      </div>
    </div>
  </div>
</div>

<footer>
  <small>&copy; Huw 2015</small>
</footer>
