<div class="container">
  <div class="row">
    <div class="fact col-md-offset-4 col-md-4">
      <h1 class="text-center">Names!</h1>

      <ul class="list-unstyled text-center">
        <% for name in names %>
          <li><%= name %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <small>&copy; Huw 2015 &mdash; It's on <a href="https://github.com/huwr/facts">Github?</a></small>
  </div>
</footer>